html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.BoardDiv {
  height: 100%;
  width: 100%;
}

.Board {
  height: 80vh;
  width: 100vw;
}

.Cell {
  height: 100%;
  width: 100%;
}

.Piece {
}

.Piece:hover {
  opacity: 50%;
}
