html,
body {
  height: 98%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  text-align: center;
}

.BoardDiv {
  height: 80%;
  width: 100%;
}

.Board {
  height: 100%;
  width: 100%;
}

.Cell {
  height: 100%;
  width: 100%;
}

.Piece:hover {
  opacity: 50%;
}

.SettingsContainer {
  background-color: red;
  height: 15%;
  width: 80%;
  margin: 0 auto;
}

.Timer {
  font-family: monospace;
  font-size: 30px;
}
